<!doctype html>
<html lang="pt-br">

<head>
    <title>POLY - Gerenciar</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/custon/gerencia.css">

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <header>

        <nav class="navbar navbar-expand-sm nav">
            <a href="/" class="navbar-brand">
                <img class="logo" src="/imagens/logo.gif">
            </a>


            <!--navegacao-->
            <ul class="navbar-nav ml-auto">
                <li class="navbar-item">
                    <a href="/agenda" class="nav-link">Criar um novo</a>
                </li>
                <li class="navbar-item">
                    <a href="" class="nav-link">Concluidas</a>
                </li>
            </ul>
        </nav>


    </header>

    <main>
        <div class="container mt-4">
            <div class="formulario">
                <h3 class="nick_agenda"> <%= agenda.nome %><h3>
                            <p class="date_agend">
                                <%=agenda.hora%>
                            </p>
                            <hr>
                            <form method="POST" action="/fazerhoje">
                                <textarea class="form-control" name="corpo"
                                    placeholder="digite algo pra fazer hoje..."></textarea>
                                <label for="time">Hora</label>
                                <input class="form-control time" name="time" type="time">
                                <input type="hidden" name="id" value="<%=agenda.id%>">
                                <input type="submit" class="btn btn-success mt-2" value="Adicionar Evento">
                            </form>
            </div>

            <%fazeres.forEach(fazeres=>{%>
                <div class="agendacoisas">
                    
                    <form class="formulario_edit" method="POST" action="/alter-fazeres" style="display: inline;">
                        <input type="text" id="fazer" name="atv" value="<%=fazeres.fazer %>">
                        <input type="time" id="hora" name="hora" value="<%=fazeres.hora %>">
                        <input type="hidden" name="campo" value="<%=fazeres.fazer%>">
                        <input type="hidden" name="id" value="<%=agenda.id%>">
                        <button type="submit" id="btn_salvar" class="btn btn-success">Salvar Alteracao</button>
                    </form>
                    <br><br>
                    <form method="POST" action="/delet_fazeres" style="display: inline;">
                        <input type="hidden" name="campo" value="<%=fazeres.fazer%>">
                        <input type="hidden" name="id" value="<%=agenda.id%>">
                        <button class="btn btn-danger">Excluir</button>
                    </form>

                </div>

            <%}) %>
        </div>
    </main>

    <script>

        function edit_(){
            var fazer = document.querySelector('#fazer');
            var hora = document.querySelector('#hora');
            var salvar = document.querySelector('#btn_salvar');
            var edit = document.querySelector('#edit');



            salvar.setAttribute('style','display:inline');
            fazer.removeAttribute('disabled');
            hora.removeAttribute('disabled');


            fazer.setAttribute('style','border:2px solid black','outline: none');
            hora.setAttribute('style','border:2px solid black','outline: none');
            edit.setAttribute('style','disabled');

        }
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>